<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Ingredientes</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <h1 class="h1-banner">Nuestros ingredientes</h1>
    <p class="p-banner pb1">Subheading that sets up context, shares more info about the</p>
    <p class="p-banner pb2">author, or generally gets people psyched to keep reading</p>
    <br>
    <br>
    <div>
        <img src="../assets/images/banner.png" alt="Banner">
    </div>    
</body>
</html>