<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="contacts-body">    
    <div class="main-square">
        <div class="ms-encabezado"><p>Contactos</p></div>
        <div class="ms-contacto">
            <div class="profile-pic">
                <img src="../assets/images/helena.png" alt="Helena" class="prof-picture">
            </div>
            <div class="profile-name-email">
                <div class="profile-name"><p>Helena</p></div>
                <div class="profile-email"><p>email@figmasfakedomain.net</p></div>
            </div>
        </div>
        <div class="ms-contacto">
            <div class="profile-pic">
                <img src="../assets/images/oscar.png" alt="Oscar" class="prof-picture">
            </div>
            <div class="profile-name-email">
                <div class="profile-name"><p>Oscar</p></div>
                <div class="profile-email"><p>email@figmasfakedomain.net</p></div>
            </div>
        </div>        
        <div class="ms-contacto">
            <div class="profile-pic">
                <img src="../assets/images/daniel.png" alt="Daniel" class="prof-picture">
            </div>
            <div class="profile-name-email">
                <div class="profile-name"><p>Daniel</p></div>
                <div class="profile-email"><p>email@figmasfakedomain.net</p></div>
            </div>
        </div>
        <div class="ms-contacto">
            <div class="profile-pic">
                <img src="../assets/images/jay.png" alt="Jay" class="prof-picture">
            </div>
            <div class="profile-name-email">
                <div class="profile-name"><p>Daniel Jay Park</p></div>
                <div class="profile-email"><p>email@figmasfakedomain.net</p></div>
            </div>
        </div>
        <div class="ms-contacto">
            <div class="profile-pic">
                <img src="../assets/images/mark.png" alt="Mark" class="prof-picture">
            </div>
            <div class="profile-name-email">
                <div class="profile-name"><p>Mark Rojas</p></div>
                <div class="profile-email"><p>email@figmasfakedomain.net</p></div>
            </div>
        </div>
    </div>
</body>
</html>