<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="posts-main-body">
    <div class="posts-enc"></div>
    <div class="posts-body">
        <div class="p-body">
            <div class="p-body-enc">
                <div class="pbe-pic">
                    <img src="../assets/images/helena.png" alt="Helena" class="posts-pic">
                </div>
                <div class="pbe-text">
                    <div class="pbet-user"><p><span>Helena</span> in Group name</p></div>
                    <div class="pbet-timer"><p>3 min ago</p></div>
                </div>
                <div class="pbe-icon">
                    <img src="../assets/icons/More.png" alt="More">
                </div>
            </div>
            <div class="p-body-body">
                <div class="pbb-sub"></div>
            </div>
            <div class="p-body-footer">
                <div class="pbf-descrip"><p>Post description</p></div>
                <div class="pbf-likes_comments">
                    <img src="../assets/icons/Heart.png" alt="Hearts">
                    <p> 2 likes </p>
                    <img src="../assets/icons/Comment.png" alt="Comment">
                    <p> 5 comments </p>
                </div>
            </div>
        </div>
        <div class="p-body">
            <div class="p-body-enc">
                <div class="pbe-pic">
                    <img src="../assets/images/daniel.png" alt="Daniel" class="posts-pic">
                </div>
                <div class="pbe-text">
                    <div class="pbet-user"><p><span>Daniel</span> in Group name</p></div>
                    <div class="pbet-timer"><p>5 min ago</p></div>
                </div>
                <div class="pbe-icon">
                    <img src="../assets/icons/More.png" alt="More">
                </div>
            </div>
            <div class="p-body-body">
                <div class="pbb-sub"></div>
            </div>
            <div class="p-body-footer">
                <div class="pbf-descrip"><p>Post description</p></div>
                <div class="pbf-likes_comments">
                    <img src="../assets/icons/Heart.png" alt="Hearts">
                    <p> 21 likes </p>
                    <img src="../assets/icons/Comment.png" alt="Comment">
                    <p> 4 comments </p>
                </div>
            </div>
        </div>
        <div class="p-body">
            <div class="p-body-enc">
                <div class="pbe-pic">
                    <img src="../assets/images/oscar.png" alt="Oscar" class="posts-pic">
                </div>
                <div class="pbe-text">
                    <div class="pbet-user"><p><span>Oscar</span> in Group name</p></div>
                    <div class="pbet-timer"><p>10 min ago</p></div>
                </div>
                <div class="pbe-icon">
                    <img src="../assets/icons/More.png" alt="More">
                </div>
            </div>
            <div class="p-body-body">
                <div class="pbb-sub"></div>
            </div>
            <div class="p-body-footer">
                <div class="pbf-descrip"><p>Post description</p></div>
                <div class="pbf-likes_comments">
                    <img src="../assets/icons/Heart.png" alt="Hearts">
                    <p> 3 likes </p>
                    <img src="../assets/icons/Comment.png" alt="Comment">
                    <p> 7 comments </p>
                </div>
            </div>
        </div>
    </div>
    <div class="posts-footer"></div>
</body>
</html>